*{
    margin: 0;
    padding: 0;
}

.imgBannerPrincipal{
    height: 600px;
    object-fit: cover;
}

.border{
    border-radius: 10px;
    box-shadow: 5px 5px 12px gray;
}

.fsIcon{
    font-size: 50px;
}

.header--about{
    height: 20vh;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    background-color: rgb(0, 132, 255);

}
.header--title{
    font-size: 60px;
}

footer  {
    background: rgba(0, 0, 0, 0.87)
}

.textoFooter {
    color: gray;
}

.tipografiaFooter {
    font-family: 'Black Han Sans'
}

.footerUl{
    list-style: none ;
    padding: 0;
}



@media screen and (max-width: 767px){
    .imgBannerPrincipal{
        height: 400px;
    }
}

.header--security{
    height: 20vh;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    background-color: rgb(0, 132, 255);
}
.security-container {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.security-container .content {
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
}

.security-container .content .image {
    flex: 1; 
    margin-right: 10px; 
}

.security-container .content .image img {
    max-width: 100%;
}

.security-container .content .text {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 18px;
}

.security-container .content .text h5 {
    font-size: 24px;
    font-weight: bold;
    margin: 0; 
    line-height: 1;
}

@media screen and (max-width: 767px) {
    .header--title {
        font-size: 40px;
    }

    .security-container .content {
        width: 100%;
    }

    .security-container .content .text {
        font-size: 8px;
    }

    .security-container .content .text h5 {
        font-size: 16px;
    }

    .security-container .content .image img {
        height: 200px;
    }
}

@media screen and (max-width: 1078px){
.header--title {
    font-size: 40px;
}

.security-container .content {
    width: 100%;
}

.security-container .content .text {
    font-size: 12px;
}

.security-container .content .text h5 {
    font-size: 16px;
}

.security-container .content .image img {
    height: 350px;
}}